<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Blocked Users</h2>
                    <div class="bt-option">
                        <a href="#">Home</a>
                        <a href="#">Admin</a>
                        <span>View Blocked Users</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<section style="background: #151515;">
    <div class="container vh-100 ">
        <div class="row">
            <div class="col-md-6 col-md-12 mt-5">
                <table class="table  border-light" id="adminProductsTable">
                    <thead class="t-head text-center ad-tableHead">
                        <tr>
                            <th class="text-white" scope="col">NAME</th>
                            <th class="text-white" scope="col">EMAIL</th>
                            <th class="text-white" scope="col">PHONE</th>
                            <th class="text-white" scope="col">UNBLOCK</th>
                            

                            
                            
                        </tr>
                    </thead>
                    <tbody class="t-body">
                        {{#each blockedUsers}}
                        <tr class="ad-tableContents">

                            <td class="text-center text-white table-data">{{this.name}}</td>
                            <td class="text-center text-white table-data">{{this.email}}</td>
                            <td class="text-center text-white table-data">{{this.phone}}</td>
                            <td class="text-center text-white table-data"><a href="/admin/admin-unblockuser/{{this._id}}" class="btn btn-danger btn-sm"
                                    style="font-size: smaller; background: #f36100;"
                                    onclick="return confirm('Do you want to unblock user {{this.name}} ?')"><i
                                class="bi bi-person"></i>UBNLOCK</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        {{!-- <a href="/admin/view-users" class="btn btn-danger mt-4">VIEW ALL USERS</a> --}}
    </div>
</section>

{{!-- data table jquery script --}}

{{!-- <script>
    $(function () {
        $('#adminProductsTable').DataTable();
    }); 
</script> --}}