<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Nutritions & Supplements</h2>
                    <div class="bt-option">
                        <a href="/">Home</a>
                        <a href="#">Admin</a>
                        <span>Nutritions & Supplements</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
{{!-- 
<section class="" style="background: #151515;">
    <br>
    <br>
    <br>
    <div class="container" style="background: #151515;">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 border">
                <div class="card border-rounded" style="width: 12rem; height; background: #151515; ">
                    <div class="text-center">
                        <a href="/detailed-view"> <img src="/product-images/{{this._id}}.jpg" class="card-img-top"
                                alt="..." style="width:10rem; margin-top:1rem;"></a>
                    </div>
                    <div id="card-set" class="card-body ps-2 py-2" style="background: #151515;">
                        <h5 class="card-title text-white">{{this.brand}}</h5>
                        <h6 class="card-text text-white">{{this.name}}</h6>
                        <p class="card-text m-0">{{this.category}}</p>
                        <p class="card-text">{{this.discription}} </p>
                        <p class="m-0"><i class="fas fa-rupee-sign card-text "></i> {{this.price}}</p>
                        {{#if offer}}
                     <span> <p class="card-text text-white">{{this.discount}} %off</p></span>
                        {{/if}}
                    </div>
                    <div class="d-flex mb-3 mx-1" style="background: #151515;">
                        <div class="me-auto" style="background: #151515;">
                            <a id="view-btn" href="/admin/admin-editproduct/{{this._id}}"
                                class="primary-btn btn-normal appoinment-btn"><i
                                    class="bi bi-pencil-square"></i>Edit</a>
                        </div>
                        <div class="ms-auto" style="background: #151515; ">
                            <a id="add-to-cart-btn" href="/admin/admin-deleteproduct/{{this._id}}"
                                onclick="return confirm('Do you want to delete{{this.brand}} ?')"
                                class="primary-btn btn-normal appoinment-btn "><i class="bi bi-trash3"></i>Delete</a>
                        </div>
                    </div>
                </div>

            </div>

            {{/each}}
        </div>
    </div>
</section> --}}


<section class="services-section spad">
    <div class="container py-5">
        <div class="section-title mb-5">
            <span>Protein Powders</span>
            <h2>Detailed Description</h2>
        </div>
        <div class="row">
            {{#each products}}
            <div class="col-md-12 col-lg-3 mb-4 mb-lg-0">
                <div class="card mb-2"  style="border: 1px solid #363636;">
                    <div class="text-center" style="background: #151515;">
                       <a href="/image-zoom/{{this._id}}"> <img style="background:#151515;  width:200px;  height:270px; "
                            src="/product-images/{{this._id}}.jpg" class="card-img-top mt-3" alt="protein" /></a>
                    </div>
                    <div class="card-body" style=" background:#252525;border: 1px solid #363636;">
                        
                        <div class="d-flex justify-content-between mb-3 team-title">
                            <h4 id="cardsecbigFont" class="mb-0">{{this.brand}}</h4>

                        </div>
                        <div class="d-flex justify-content-between mb-3 team-title">
                            <h4 id="cardsecbigFont">{{this.name}}</h4>
                            <h5 style="color: #fff;" class="mb-0">{{this.price}}</h5>
                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="small"><a href="#!"style="color: #fff;" >{{this.category}}</a></p>
                            {{#if this.offer}}
                            {{!-- <p class="small text-danger"><s>$1099</s></p> --}}
                            <p class="small text-danger">{{this.discount}}%off</p>
                            {{/if}}
                        </div>


                        <div class="d-flex mb-3 mx-1" style="background: transparent;">
                        <div class="me-auto" style="background: transparent;">
                            <a id="view-btn" href="/admin/admin-editproduct/{{this._id}}"
                                class="primary-btn btn-normal mr-5 appoinment-btn"><i
                                    class="bi bi-pencil-square"></i></a>
                        </div>
                        <div class="ms-auto" style="background: transparent; ">
                            <a id="add-to-cart-btn" href="/admin/admin-deleteproduct/{{this._id}}"
                                onclick="return confirm('Do you want to delete{{this.brand}} ?')"
                                class="primary-btn btn-normal mr-2 appoinment-btn "><i class="bi bi-trash3"></i></a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
